{% extends 'base.html' %} {% block main %}

<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="flex flex-col m-auto h-screen space-y-8 w-1/2 py-10">
    <div class="bg-gray-100 dark:bg-gray-700 p-6 rounded-lg">
      <p class="text-gray-500 dark:text-gray-400">
        With Pixtale, you can get videos of your trips narrated by GeminiAI!
        Before all of that magic, please upload a zip file of the folder of all
        your trip photos and videos. Or you could also just share the link to
        your Google Photos album and your media items (only the
        first 10 media items) will be fetched from that.
        A max of 10 photos and videos is recommended. 
      </p>
    </div>


     
<input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" name="zip_file" type="file">



    <div class="flex items-center">
      <div class="border-b border-gray-400 w-full"></div>
      <div class="mx-2 text-gray-500">OR</div>
      <div class="border-b border-gray-400 w-full"></div>
    </div>

    <div class="">
      <label
        for="gphotos"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Google Photos album link</label
      >
      <input
        type="text"
        id="photos"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"

      />
    </div>

    <input
      type="submit"
      value="Submit"
      class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-28 py-3.5 mx-auto text-center"
    />
  </div>
</form>

{% endblock %}
