{% extends 'base.html' %} {% block main %}

<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="flex flex-col m-auto h-screen space-y-8 w-1/2 py-10">
    <div class="bg-gray-100 dark:bg-gray-700 p-6 rounded-lg">
      <ul>
        <li>unordered list item 1</li>
        <li>unordered list item 2</li>
        <li>unordered list item 3</li>
      </ul>
    </div>

    <div class="flex items-center justify-center w-full">
            <label
        for="gphotos"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Google Photos album link</label
      >
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            SVG, PNG, JPG or GIF (MAX. 800x400px)
          </p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
      </label>
    </div>

    <div class="flex items-center">
      <div class="border-b border-gray-400 w-full"></div>
      <div class="mx-2 text-gray-500">OR</div>
      <div class="border-b border-gray-400 w-full"></div>
    </div>

    <div class="">
      <label
        for="gphotos"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Google Photos album link</label
      >
      <input
        type="text"
        id="photos"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>


    <input
      type="submit"
      value="Submit"
      class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-28 py-3.5 mx-auto text-center"
    />
  </div>
</form>

{% endblock %}
